ol,ul {
	display: inline-block;
	list-style-type: none;
}

#navimenu {
      margin-bottom:10px;
      overflow: hidden;
	  font-family: times;
      font-size: 20px;
	  float: none;
  	  position: relative;
}

#navimenu  a {
	display:block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	margin-left:10px;
      margin-right:10px;
      margin-top: 10px;
	text-decoration:none;
	background-color:#1e6ac2;
	color:rgb(237, 237, 245);
       border:3px solid #d8d8e6;
      border-radius: 10px;
  height: 25px;
}

#navimenu ul {
    display: inline-block;
    list-style-type: none;
}

#navimenu  a:hover {
	background-color:#c6f1d8;
	color:#272626;
}



