ol,ul {
	list-style: none;
}


#navimenu {
      margin-bottom:10px;
	width:device-width;
      overflow: hidden;
	font-family: times;
      font-size: 20px;
}



#navimenu  a {
	display:block;
	width:100px;
	float:left;
	margin-left:50px;
      margin-right:50px;
      margin-top: 10px;
	text-decoration:none;
	background-color:#fff;
	color:#008;
       border:3px solid #6666ff;
      border-radius: 25px;
  width: 200px;
  height: 25px;

}

#navimenu  a:hover {
	background-color:#cc99ff;
	color:#fff;
}


