    /* Reset default margin and padding */
      

        /* Style for the navigation menu */
        .nav {
            display: flex;
            justify-content: center;
            background-color: #47538d;
            padding: 10px 0;
        }

        .nav a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
            padding: 10px 20px;
            transition: background-color 0.3s;
        }

        .nav a:hover {
            background-color: #e1e3e7;
            color: rgb(129, 80, 21);
        }

        /* Responsive styles for mobile devices */
        @media (max-width: 800px) {
            .nav {
                flex-direction: column;
                align-items: center;
            }

            .nav a {
                padding: 10px 0;
                display: block;
            }
        }
  