 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        
        .container {
            width: 1000px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        header {
            background-color: #4CAF50;
            color: white;
            padding: 1em 0;
            text-align: center;
        }
        main {
            padding: 2em;
        }
        h2 {
            color: #333;
        }
        h1 {
  color: black;
  margin-left: 5px;
  font-family: Georgia;
  font-size: 30px;
}

h3 {
  color: black;
  margin-left: 0px;
  font-family: Cochin;
  font-size: 20px;
}


        p {
            line-height: 1.6;
        }

        .marcontainer {
  width: 100%;
  height: 50px;
  background-color: #1f859e;
  display: flex;
  align-items: center;
  justify-content: center;
}

marquee {
  color: floralwhite;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
            font-size: 1.2em;
}

        footer {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
            width: 100%;
            margin-top: 20px;
        }
        .footer-container {
            max-width: 1000px;
            margin: 0 auto;
        }
        .footer-section {
            margin-bottom: 10px;
        }
        .footer-section h4 {
            margin-bottom: 5px;
        }
        .footer-section p, .footer-section a {
            color: #ccc;
            text-decoration: none;
        }
        .footer-section a:hover {
            text-decoration: underline;
        }
        .nav {
            display: flex;
            justify-content: center;
            background-color: #867e7e;
            padding: 10px 0;
        }

        .nav a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
            padding: 10px 20px;
            transition: background-color 0.3s;
        }

        .nav a:hover {
            background-color: #ddd;
        }

        /* Responsive styles for mobile devices */
        @media (max-width: 800px) {
            .nav {
                flex-direction: column;
                align-items: center;
            }

            .nav a {
                padding: 10px 0;
                display: block;
            }
        }

        .div3{
	font-family: Garamond, serif;
      font-size: 18px;
      background-color: #5466a3bd;
}