body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagecontainer {
  width: 1000px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: black;
  margin-left: 5px;
  font-family: Georgia;
  font-size: 30px;
}

h2 {
  color: rgb(23, 7, 95);
  margin-left: 5px;
  font-family: 'Franklin Gothic Medium';
  font-style: italic;
    font-size: 20px;
}

h3 {
  color: black;
  margin-left: 0px;
  font-family: Cochin;
  font-size: 20px;
}

h4 {
  color: black;
  margin-left: 0px;
  font-family: Time New Roman;
  font-size: 30px;
}

h5 {
  color: black;
  margin-left: 0px;
  font-family: Georgia;
  font-size: 35px;
}

h6 {
  color: black;
  font-weight: normal;
  margin-left: 15px;
  font-family: Arial;
  font-size: 17px;
}

h7{
  color:whitesmoke;
  font-family: Cambria;
  font-size: 18px;
}

.note{
	font-style: italic;
	font-family:  times;
	font-size: 15px;
}

.div2{
	font-family: Garamond, serif;
      font-size: 18px;
      width: 30%;
      background-color: #EBF5FB;
}

.div3{
	font-family: Garamond, serif;
      font-size: 18px;
      background-color: #d6d8dbbd;
}

.pagecontent{ width: 1000px; 
}

.about-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -10px;
}
.about-me img {
  border-radius: 2%;
  margin-right: 20px;
  padding: 20px;
  width: 400px;
  height: 400px;
}
.about-me div {
  max-width: 800px;
  margin-top: -150px;
}

#HASH {
  display: flex;
  justify-content: space-between;
}

.collapsible {
  background-color: #99e6ff;
  color: black;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
   border-radius: 15px;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}

.active, 
.collapsible:hover {
  background-color: #80b3ff;
}

.collapsible:after {
  content: '\002B';
  color: rgb(196, 82, 82);
  font-weight: bold;
  float: right;
  margin-left: 5px;
  border: none;
   border-radius: 15px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  width: device-width;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #c6d9ff;
  border: none;
   border-radius: 15px;
   line-height: 25px;
   font-family: Times New Roman;
   font-size: 17px;
}

art_name{
  font-weight: bold;
  font-size: 18\opx;
}


ul {
  list-style: none;
}

ul.int ::before {
  content: "\2710";
    list-style-position: inside;
	line-height: 15px;
  color: #1846d1;
  font-weight: bold;
  display: inline-block; 
  font-size: 20px;
  width:1em;
  margin-left: 0em;
}

.int {
	font-size: 18px;
	font-family: Serif;
}

ul.bullet-li ::before{
	content: "\2720";
	 list-style-position: inside;
	line-height: 15px;
  color: #3b4fa8;
  font-weight: bold;
  display: inline-block; 
  font-size: 20px;
  width:1em;
  margin-left: -1em;
}

li.no-cos ::before{
	content: '';
	font-size: 2px;
}

span.thesis-con {
	font-size: 18px;
	font-family: Serif;
	list-style-position: outside;
	text-align: right;
}


/*style for the container box*/
.container {
  width: 100%;
  height: 50px;
  background-color: #e0e0d6;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Style for marquee*/
marquee {
  color: rgb(184, 128, 16);
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
            font-size: 1.2em;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

footer {
  background-color: #333;
  color: white;
  padding: 0px;
  text-align: center;
  width: 100%;
  height: 80%;
  margin-top: 20px;
}
.footer-container {
  max-width: 800px;
  margin: 0 auto;
}
.footer-section {
  margin-bottom: 0px;
}
.footer-section h4 {
  margin-bottom: 5px;
}
.footer-section p, .footer-section a {
  color: #ccc;
  text-decoration: none;
}
.footer-section a:hover {
  text-decoration: underline;
}