
#navimenu {
	margin:10px;
      height:50px;
	font-family: times;
      font-size: 20px;
}

#navimenu ul {
	display: inline-block;
	list-style-type: none;
}

#navimenu  a:hover {
	background-color:#cc99ff;
	color:#fff;
}


